<ion-content  color="dark">
  <form  #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="dark" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="omId" type="text" placeholder="ID" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="omPass" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>