<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="signup">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Sign-up</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="person"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movie">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Movie</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
