<ion-header>
  <ion-toolbar>
    <ion-title>movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-video [autoplay]="true" [loop]="true">
    <source src="http://192.168.0.18:88/video/v.mp4">
  </mat-video>
</ion-content>
